[submodule "sources/www/cognac"]
	path = sources/www/cognac
	url = https://github.com/radepee/cot2html.git
[submodule "build/BellePoule/appimage/pkg2appimage"]
	path = build/BellePoule/appimage/pkg2appimage
	url = https://github.com/AppImage/pkg2appimage.git
[submodule "build/BellePoule/snap"]
	path = build/BellePoule/snap
	url = git@github.com:betonniere/bellepoulebeta.git
[submodule "build/BellePoule/windows/crossroad/packages/goocanvas"]
	path = build/BellePoule/windows/crossroad/packages/goocanvas
	url = git@github.com:betonniere/goocanvas.git
	branch = BellePoule
[submodule "build/BellePoule/windows/crossroad/packages/libwebsockets"]
	path = build/BellePoule/windows/crossroad/packages/libwebsockets
	url = git@github.com:betonniere/libwebsockets.git
	branch = BellePoule
