Version: 3.0
Section: base
Priority: optional
Maintainer: Yannick Le Roux
Bzr-Vcs: lp:bellepoule
Homepage: http://betton.escrime.free.fr/index.php/bellepoule

Package: BellePoule
Architecture: all
Depends: libgtk2.0-0 (>=2.16.0), libxml2, libcurl3, libmicrohttpd5, libgoocanvas3, aldo
Description: Fencing tournament management
