[Desktop Entry]
Name=BellePoule
Comment=Manage fencing tournaments
Comment[ar]=إدارة بطولات المبارزة
Comment[de]=Verwalten Fechten Turniere
Comment[es]=Administrar los torneos de esgrima
Comment[fr]=Gérer les tournois d'escrime
Comment[it]=Gestire i tornei di scherma
Comment[nl]=Beheren hekwerk toernooien
Comment[ru]=Управление ограждения турниры
Exec=BellePoule
Icon=BellePoule
Terminal=false
Type=Application
Categories=GTK;Utility;
